@import url(../../assets/css/settings.css);
.container{
    margin-top: 30px;
}

.nav{
    display: flex;
}
.header__link{
    display: flex;
}
.list__item:not(:last-child){
    margin-right: 14px;
}
h1{
    font-family: "Roboto";
    font-weight: bold;
}
.nav__list{
    list-style-type:none;
    display: flex;
    align-items: center;
}
.link{
    text-decoration: none;
    color: black;
}
.header{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.header__img{
    margin-right: 6px ;
}
.enter{
    margin-right: 25px;
}
.adbttn{
    border: none;
    border-radius: 5px;
    background-color: #256EEB;
    color: white;
    padding: 10px 15px;
}
.searchbar{
    width: 90%;
    border-radius: 5px;
    border: none;
    padding-top: 14px ;
    padding-bottom: 14px ;
    padding-left: 21px;
}
.search{
    background-color: #256EEB;
    padding: 3px;
    border-radius: 6px;
}
.searchbar-bttn{
   background: transparent;
   border: none; 
   margin-left:15px;
}
.bttn__found{
    color: white;
}
.card{
    margin-right:30px;
}
.card__heading{
    color:#256EEB;
    margin: 0;
    margin-top: 10px;
}
.address, .time{
    color: #C4C4C4;
}
.card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.price{
    color:black ;
}
.price{
    font-weight: bold;
}
.recommend__heading{
    color:black;
}
.card__img{
    width: 100%;
    height: auto;
    max-width: 246px;
    max-height: 178px;
    object-fit: cover;
}
.recommend{
    display: flex;
}
.cardrow:first-child{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
